
.galeria-titulo{
    display: grid;
    margin: 0 auto;
    place-items: center;
    padding-top: 7rem;
    padding-bottom: 8rem;
}

.galeria-titulo h2 {
    font: 400 4.8rem/ 66.77px "Bad Script", sans-serif;
}

.galeria-fotos {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding-bottom: 7rem;
}

.galeria-fotos img {
    max-width: 55rem;
    border-radius: 4rem;
}

@media screen and (max-width: 1200px) {
    .galeria-fotos {
        display: flex;
        flex-wrap:nowrap;
        gap: 5rem;
        overflow-x: auto;
    }

    .galeria-fotos img{
        max-width: 35rem;
    }
}

@media screen and (max-width: 800px) {
    .galeria-titulo h2 {
        font: 400 3.8rem/ 48px "Bad Script", sans-serif;
    }

    .galeria-titulo{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .galeria-fotos {
        padding-bottom: 4rem;
    }
}
    
