.introducao-bg {
  background: var(--p1) url(../../img/dec/dec.svg) no-repeat bottom 16rem left 3rem;
  box-shadow: inset 0 -12rem #ffffff;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0rem 4rem;
}

.introducao img {
  height: 100%;
  object-fit: cover;
  border-radius: 5rem;
  width: 100%;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 12rem;
}

.introducao h1 {
  margin-bottom: 3.2rem;
  font: 400 4.8rem/ 66.77px "Bad Script", sans-serif;
}

.introducao p {
  margin-bottom: 2rem;
  font: 400 2.4rem/1.5 "Poppins", sans-serif;
}

.introducao a {
  margin-bottom: 8rem;
  background: linear-gradient(180deg, #056a6f 0%, #1cced6 0.01%);
  color: var(--p5);
}

.introducao a:hover {
  background: linear-gradient(180deg, #03dce7 100%, #1cced6 0.01%);
}

@media screen and (max-width: 1500px) {
  .introducao-bg {
    background: var(--p1);
  }
}

@media screen and (max-width: 800px) {
  .introducao-bg {
    background: var(--p4);
    padding-top: 4rem;
    box-shadow: inset 0 -60px #ffffff;
  }

  .introducao {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }

  .introducao-conteudo {
    padding-bottom: 0rem;
  }

  .introducao h1 {
    margin-bottom: 1.6rem;
    font: 400 3.8rem/ 48px "Bad Script", sans-serif;
  }

  .introducao p {
    font: 400 2rem/1.5 "Poppins", sans-serif;
  }

  .introducao img {
    height: 30rem;
    width: 100%;
  }

  .introducao a {
    margin-bottom: 1.5rem;
  }
}